.learn_container{
    display: flex;
    width: 90%;
    margin: 0px auto;
    max-width: 1000px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}
.learn_info{
    margin-left: 100px;
    color: #fff;
}
.learn_tit{
    font-size: 36px;
    font-weight: bold;
}
.learn_content{
    margin-top: 20px;
}

@media only screen and (max-width: 576px) {
    .learn_container{
      flex-direction: column;
    }
    .learn_info{
        margin-left: 0px;
    }
}
  